extends layout 
block content 
h1=title 
-let Atlas=[{name:"America",state:"New York",beststate:"1"} 
{name:"Australia",state:"Sydney",beststate:"2"}
{name:"France",state:"Paris",beststate:"3"}]
div(class="container-fluid")
div(class="row")
each Atlas,index in Atlas 
table(style='width:100%')
tr 
div(class="col-sm-2")#{Atlas.name}
div(class="col-sm-2")#{Atlas.state}
div(class="col-sm-2")#{Atlas.beststate}

           